{% extends 'base.html' %}

{% block title%}<title>job entry</title>{% endblock %}

{% block content %}
<div class="card container mt-4 posts bg-dark">
    <div class="card-header">
        <h4 class="text-white text-allign-right" align="right">
        فرم درخواست همکاری
        </h4>
    </div>
    <div class="card-body">
        <form method="post" action="">
            <p class='text-white' align="right">
            اطلاعات هویتی
            </p>
            <hr/>
            <div class="form-inline">
                {{ form.first_name.label(class=" form-control-label text-white ml-sm-3", align="right") }} 
                {{ form.first_name(class="form-control mb-2 ml-sm-5 col-4") }}
                {{ form.last_name.label(class="form-control-label text-white ml-sm-3") }}
                {{ form.last_name(class="form-control mb-2 ml-sm-5 col-4") }}
            </div>
            <div class="form-inline mt-2">
                {{ form.national_id.label(class="form-control-label text-white ml-sm-3") }}
                {{ form.national_id(class="form-control mb-2 ml-sm-5 col-4") }}
                {{ form.date_of_birth.label(class="form-control-label text-white ml-sm-3") }}
                {{ form.date_of_birth(class="form-control mb-2 ml-sm-5 col-4") }}
            </div>
            <hr/>
            {% if form.first_name.errors %}
                <ul>
                {% for error in form.first_name.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.last_name.errors %}
                <ul>
                {% for error in form.last_name.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.national_id.errors %}
                <ul>
                {% for error in form.national_id.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.date_of_birth.errors %}
                <ul>
                {% for error in form.date_of_birth.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr/>
            <p class='text-white mt-4' align="right">
            اطلاعات تماس
            </p>
            <hr/>
            <div class="form-inline">
                {{ form.email.label(class="form-control-label text-white ml-sm-3") }}
                {{ form.email(class="form-control mb-2 ml-sm-5 col-4") }}
                {{ form.mobile_phone.label(class="form-control-label text-white ml-sm-3") }}
                {{ form.mobile_phone(class="form-control mb-2 ml-sm-5 col-4") }}
            </div>
            <div class="form-inline mt-2">
                {{ form.Address.label(class="form-control-label text-white ml-sm-3", align="right") }}
                {{ form.Address(class="form-control col-10 mb-2 ml-sm-5") }}
            </div>
            <hr/>
            {% if form.email.errors %}
                <ul>
                {% for error in form.email.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.mobile_phone.errors %}
                <ul>
                {% for error in form.mobile_phone.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.Address.errors %}
                <ul>
                {% for error in form.Address.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr/>
            <p class='text-white mt-4' align="right">
            تحصیلات
            </p>
            <hr/>
            <div class="form-inline">
                {{ form.university.label(class="form-control-label text-white  ml-sm-3") }}
                {{ form.university(class="form-control mb-2 ml-sm-5 col-2") }}
                {{ form.university_subject.label(class="form-control-label text-white  ml-sm-3") }}
                {{ form.university_subject(class="form-control mb-2 ml-sm-5 col-2") }}
                {{ form.university_degree.label(class="form-control-label text-white  ml-sm-3") }}
                {{ form.university_degree(class="form-control mb-2 ml-sm-5 col-2") }}
            </div>
            <hr/>
            {% if form.university.errors %}
                <ul>
                {% for error in form.university.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.university_subject.errors %}
                <ul>
                {% for error in form.university_subject.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.university_degree.errors %}
                <ul>
                {% for error in form.university_degree.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr/>
            <p class='text-white mt-4' align="right">
            سوابق کاری
            </p>
            <hr/>
            <div class="form-inline">
                {{ form.work_reputations.label(class="form-control-label text-white") }}
                {{ form.work_reputations(class="form-control col-12") }}
            </div>
            <hr/>
            {% if form.work_reputations.errors %}
                <ul>
                {% for error in form.work_reputations.errors %}
                    <li class="alert-error">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr/>
            <p class='text-white mt-4' align="right">
             مهارت ها
            </p>
            <hr/>
            <div class="skills mb-4" align="right">
                {{ form.microcontroller.label(class="skills-container text-white ml-1", align="right") }}
                {{ form.microcontroller(class="skill-input mb-2 mr-1 ml-lg-5") }}
                <span class="checkmark"></span>
                {{ form.power.label(class="skills-container text-white ml-1 mr-lg-5") }}
                {{ form.power(class="skill-input mb-2 mr-1 ml-lg-5") }}
                <span class="checkmark"></span>
                {{ form.atmel_studio.label(class="skills-container text-white ml-1", align="right") }}
                {{ form.atmel_studio(class="skill-input mb-2 mr-1 ml-lg-5") }}
                <span class="checkmark"></span>
            </div>
            <div class="skills" align="right">
                {{ form.altium_designer.label(class="skills-container text-white ml-1", align="right") }}
                {{ form.altium_designer(class="skill-input mb-2 mr-1 ml-lg-5") }}
                <span class="checkmark"></span>
                {{ form.arduino.label(class="skills-container text-white ml-1 mr-lg-5") }}
                {{ form.arduino(class="skill-input mb-2 mr-1 ml-lg-5") }}
                <span class="checkmark"></span>
                {{ form.code_vision.label(class="skills-container text-white ml-1 mr-lg-5") }}
                {{ form.code_vision(class="skill-input mb-2 mr-1 ml-lg-5") }}
                <span class="checkmark"></span>
                {{ form.proteus.label(class="skills-container text-white ml-1 mr-lg-5") }}
                {{ form.proteus(class="skill-input mb-2 mr-1") }}
                <span class="checkmark"></span>
            </div>
            <div class="form-inline mt-lg-4">
                {{ form.others.label(class="form-control-label text-white ml-3") }}
                {{ form.others(class="form-control col-12") }}
            </div>
            <hr/>
             <p class='text-white mt-4' align="right">
             بارگذاری رزومه و حقوق پیشنهادی
            </p>
            <hr/>
            <div class="form-inline">
                <div class="costum-file mb-3 ml-lg-5">
                    {{ form.resume(class="costum-file-input") }}
                </div>
                {{ form.expected_salary.label(class="form-control-label text-white mb-3 mr-lg-5 ml-2") }}
                {{form.expected_salary(class="form-control mb-3") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control btn btn-success", value="تائید") }}
            </div>
        </form>
        <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
    </div>
</div>
{% endblock %}